# SMTP server configuration
SMTP_SERVER = ""  # Replace with your SMTP server
SMTP_PORT =                         # Common port for TLS
EMAIL = ""           # Your SMTP username
PASSWORD = ""        # Your SMTP password
SENDER_EMAIL = ""  # Email address to send from
RECIVER_EMAIL = "" # Email address to send to